@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    #menu-button {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    nav a {
        padding: 0.5rem 1rem;
    }

    .temple-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}